.DS_Store
.xcuserstate
OnlineStore-2nd-Challenge.xcodeproj/xcuserdata/vp.xcuserdatad/xcschemes/xcschememanagement.plist
OnlineStore-2nd-Challenge.xcodeproj/project.xcworkspace/xcuserdata/vp.xcuserdatad/UserInterfaceState.xcuserstate
OnlineStore-2nd-Challenge.xcodeproj/xcuserdata/valentinkartoskin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
